<form action="/" method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="developer">Developer</label>
        <input type="text" name="developer" id="developer">
    </p>
    <p>
        <label for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher">
    </p>
    <p>
        <label for="year">Year</label>
        <input type="number" min="1900" max="2099" step="1" value="2022" name="year" id="year">
    </p>
    <p>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
    </p>
    <p>
        <label for="mode">Mode</label>
        <select name="genre" id="genre">
            <option value="single-player">Single-player</option>
            <option value="multiplayer">Multiplayer</option>
        </select>
    </p>
    <input type="submit" name="" id="" value="Create">
</form>